Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
tensorflow==2.13.0
tensorflow-estimator==2.13.0
keras==2.13.1
opencv-python
pytesseract
SpeechRecognition
pydot
graphviz
transformers
torch
google-api-python-client
google-auth
google-auth-oauthlib
requests
email_validator
WTForms
